extends ../postlayout
block post-title
    h1 The Lorum Ipsum Language
block post-content
    p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor
        imperdiet velit et porta. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Fusce sit amet ornare arcu.
        Mauris malesuada tortor nisi, eget pellentesque nulla sodales porttitor.
        Aenean eget euismod lacus, ut tincidunt eros. Praesent pulvinar, ligula
        id laoreet pharetra, justo magna interdum nibh, eu rhoncus eros eros ac
        diam. Curabitur tristique massa a tellus blandit, a pellentesque turpis
        laoreet. Fusce nisl orci, cursus congue velit nec, vehicula fermentum
        libero. Proin nec ligula mauris. Nulla facilisi. Sed gravida aliquam
        augue, id bibendum justo tincidunt eget. In ac urna non ante facilisis
        rhoncus. Nulla tempor lectus ut dui convallis, in elementum turpis
        sagittis. Phasellus eget aliquet risus.
    a read full article
