extends ../postlayout
block post-title
    h1 Learn about blogging

    p
        Donec in orci sagittis, varius ligula sit amet, convallis leo. Maecenas
        purus orci, sagittis eget rhoncus eget, imperdiet vel mi. Phasellus
        vulputate justo eget mi lobortis, hendrerit pretium nibh semper. Proin at
        leo nisi. Integer ut faucibus neque, a facilisis justo. Duis dictum
        interdum pulvinar. Nam laoreet faucibus diam sed viverra. Donec malesuada
        enim urna, id malesuada lorem dignissim sed. Nunc suscipit nisi interdum,
        laoreet nunc non, aliquet mauris. Duis sit amet imperdiet quam,
        consectetur accumsan mauris. Etiam bibendum mauris a sem blandit
        volutpat. Mauris in porta massa. In congue ligula eget tortor eleifend
        scelerisque. Duis adipiscing sed mauris et sollicitudin. Donec lectus mi,
        lacinia a nunc tincidunt, porttitor faucibus nunc. Vestibulum et vehicula
        est.

    a read full article
